<form action="/memos" method="post">
  <div>
    <input type="text" id="title" name="title">
    <label for="title">タイトル</label>
  </div>
  <div>
    <textarea id="content" name="content"></textarea>
    <label for="content">内容</label>
  </div>
  <div>
    <input type="submit" value="保存">
  </div>
</form>
